<% if (like = post.likes.find_by(user: current_user)).present? %>
  <%= button_to post_like_path(post_id: post.id, id: like.id), method: 'delete', class: "action-btn color-hover red-hover" do %>
    <%= render_icon "heart_icon.svg", width: "15", height: "15", classes: "margin-right-5" %>
    <p class="margin-0">
      <%= post.likes_count > 0 ? post.likes_count : '' %>
    </p>
  <% end %>
  <% else %>

  <%= button_to post_likes_path(post.id), class: "action-btn color-hover red-hover" do %>
    <%= render_icon "heart_icon.svg", width: "15", height: "15", classes: "margin-right-5" %>
    <p class="margin-0">
      <%= post.likes_count > 0 ? post.likes_count : '' %>
    </p>
  <% end %>
<% end %>
